.lesson {
    border: 3px solid;
    border-color: rgb(201, 52, 87);
    border-radius: 30px;
    padding-left: 10px;
    width: 250px;
    padding-bottom: 10px;
    color: white;
}

.conteiner {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.into {
    background-color: rgb(241, 179, 203);
    border: none;
    color: white;
    height: 20px;
    margin-left: 5px;
}

.out {
    background-color: rgb(241, 179, 203);
    border: none;
    color: white;
    margin-left: 5px;
    height: 20px;
}

html {
    background-image: url(./1690931730_furman-top-p-krasivii-fon-sport-vkontakte-10.jpg);
}

.side {
    margin: 30px 30px 30px 1000px;
}